body{
    min-height: 100vh;
    color: white;
    text-align: center;
    background-color: #000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.45)), url('../images/backgrounds/beautifulpc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: verdana, sans-serif;
}
.logo_aethel {
    width: 100px;
    filter:invert()
}
.welcome_text {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    color: white; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto; 
    font-size: 50px;
    margin-top: 0;
    font-weight: bold;
}
.message_description {
    font-size: small;
    margin-top: 20px;
    color: #ccc;
}
.orangina { 
    color: orange; 
    display: inline-block; 
}
.login-btn, .signin-btn {
    width: 200px;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    color: white;
    background-color: #67a9ef;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.signin-btn {
    background-color: #f39c12;
}
button{
    background: none; 
    border: none;
    color: white; 
    font-weight: bold;
}



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #67a9ef;
    color: black; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    margin: 0; 
    left: 0; 
}